source http://nuget:9011/cache/v3/index.json
storage: none

nuget Fake.IO.FileSystem
nuget Fake.DotNet.MSBuild
nuget Fake.Core.Target
nuget Fake.Core.ReleaseNotes

source http://nuget:9011/v3/index.json
nuget liget-two
